.App {
  text-align: center;
  font-family:'MyCustomFont', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.card {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .editable-row {
  background-color: #fff9c4 !important;
} */

/* Ensure the Menubar is displayed correctly */
.p-menubar {
  width: 100%;
  background-color: #f4f4f4;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.questions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.question {
  flex-grow: 1;
  min-width: 150px;
  /* רוחב מינימלי של שאלה */
  max-width: calc(33.33% - 10px);
  /* מקסימום של 3 שאלות בשורה */
  box-sizing: border-box;
}

.error {
  border: 2px solid rgb(255, 98, 0);
  background-color: #ffe5e5;
}


.p-inputtext {
  color: black;
  background-color: white !important;
  direction: rtl !important;
  text-align: right !important;
  /* width: 200px; */
  width: 100%;
}

label {
  width: 145%;
}


.p-inputtext:focus {
  border-color: rgb(255, 98, 0);
  box-shadow: 0 0 4px 1px rgb(255, 98, 0);
  background-color: white !important;
}

.p-inputtext:hover {
  border-color: rgb(255, 98, 0);
}

.p-inputtext.p-invalid {
  border-color: red;
}


.p-inputtext,
.p-button,
.p-dropdown,
.p-textarea,
.p-password {
  direction: rtl;
  font-family:'MyCustomFont', sans-serif;
}


.p-button {
  outline: none !important; /* הסרת outline */
  box-shadow: none !important; /* הסרת הצללה */
  background-color: rgb(255, 98, 0) !important; /* צבע רקע מותאם אישית */
  color: white !important; /* צבע טקסט מותאם אישית */
  border: none !important; /* הסרת גבול */
  font-weight: bold !important;
}

.p-button:hover {
  background-color: rgb(200, 50, 0) !important; /* צבע רקע בעת מעבר עכבר */
  color: white !important; /* צבע טקסט בעת מעבר עכבר */
}

.p-button:focus {
  outline: none !important; /* הסרת אפקט focus */
  box-shadow: none !important; /* הסרת הצללה */
}

.p-button-text {
  color: rgb(255, 98, 0) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  background: none !important;
  border: none;
  padding: 0;
  box-shadow: none;
}

.p-button-text.p-button:hover{
  background: none !important;
  color: rgb(200, 50, 0) !important;

}
 /* .p-button-text.focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 98, 0, 0.25) !important;
  border-color: rgb(255, 98, 0) ;
 } */

.p-checkbox .p-checkbox-box {
  border-color: rgb(255, 98, 0); 
}

.p-checkbox input:checked ~ .p-checkbox-box {
  background-color: rgb(255, 98, 0); 
  border-color: rgb(255, 98, 0);    
}

.courseList {
  display: flex;
  flex-wrap: wrap; /* מאפשר מעבר לשורה חדשה אם אין מקום */
  gap: 16px; /* מרווח בין הכרטיסים */
  justify-content: center; /* ליישור הכרטיסים במרכז */
  margin: 0; /* מסיר רווחים מסביב */
  padding: 0; /* מסיר רווחים פנימיים */
  background: none; 
}
.courseCard {
  flex: 1 1 calc(25% - 16px); /* כל כרטיס יתפוס 25% מהרוחב, עם מרווח */
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #ccc; /* גבול לכרטיס */
  border-radius: 8px; /* פינות מעוגלות */
  background-color: #fff; /* צבע רקע */
  min-height: 300px; /* גובה מינימלי */
  max-height: 300px; /* גובה מקסימלי */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow:auto; /* למנוע גלילה פנימית */
}
