.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px; /* רווח גדול יותר בין הכרטיסים */
    padding: 30px;
    position: relative;
    min-height: 100vh;
    background-color: #f5f5f5; /* רקע בהיר */
    border-radius: 10px; /* פינות מעוגלות */
}

.flip-card {
    width: 200px;
    height: 300px; /* גובה מוגדל */
    perspective: 1000px;
    position: relative;
    cursor: pointer;
    flex-basis: 200px;
    flex-shrink: 0;
}

.flip-card .flip-card-front,
.flip-card .flip-card-back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    position: absolute;
    padding: 10px; /* ריווח פנימי */
    text-align: center; /* יישור טקסט למרכז */
    border: 1px solid rgba(0, 0, 0, 0.1); /* גבול עדין */
}

.flip-card .flip-card-front {
    background-color: #ffffff;
    color: rgb(255, 98, 0);
    z-index: 2;
}

.flip-card .flip-card-back {
    background-color: rgba(255, 98, 0, 0.5);
    color: #ffffff;
    transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-front {
    transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-back {
    transform: rotateY(0deg);
}

 
.audio-button {
    /* color: rgb(255, 98, 0) !important;
    background-color: rgba(255, 255, 255, 0.7) !important; */
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease;
}

.audio-button:hover {
    transform: scale(1.1);
}

.flip-card-front {
    position: relative;
}









