.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}

.error-message {
    color: #ff4d4d;
    /* background-color: #ffe6e6; */
    background-color: #fff3f3;
    padding: 10px;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
  }
  

