.practice-container {
    padding: 20px;
}

.question-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.answer-box.correct {
    background-color: #d4edda; /* ירוק */
    border-color: #c3e6cb;
    color: #155724;
    font-weight: bold;

}

.answer-box.incorrect {
    background-color: #f8d7da; /* אדום */
    border-color: #f5c6cb;
    color: #721c24;
    font-weight: bold;

}

.answer-box.selected {
    background-color:rgba(255, 98, 0, 0.2); 
    /* border-color: rgba(255, 98, 0, 0.5); */
    color: black;
    font-weight: bold;
}

.answer-box.error {
    border: 2px solid rgba(255, 98, 0, 0.8); /* אדום */
    background-color: white; /* אדום בהיר */
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center; /* מרכז את הכפתורים אופקית */
    margin-top: 20px; /* רווח מעל הכפתורים */
}

